{{ partial "head" . }}
<body>
{{ partial "header" . }}

<div id="body">
    <div class="container">
        <div class="col-group">

            <div class="col-8" id="main">
                <div class="res-cons">
                    <article class="post">
                        <header>
                            <h1 class="post-title">{{ .Title }}</h1>
                        </header>
                        <date class="post-meta meta-date">
                            {{ .Date.Year }}年{{ printf "%d" .Date.Month }}月{{ .Date.Day }}日
                        </date>
                        {{ with .Params.Categories }}
                        <div class="post-meta">
                            <span>|</span>
                            {{ range . }}
                                <span class="meta-category"><a href="{{ "/categories/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></span>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ if .Site.Params.busuanzi }}
                        <div class="post-meta">
                            <span id="busuanzi_container_page_pv">|<span id="busuanzi_value_page_pv"></span><span> 阅读</span></span>
                        </div>
                        {{ end }}
                        <div class="post-content">
                            {{ .Content }}
                        </div>

                        {{ if isset .Site.Params "cc" }} 
                        <div class="post-meta">
                            <ul class="widget-list">
                                <li>原始作者：<a rel="author" href="{{ .Site.BaseURL}}">{{ if isset .Site.Author "name" }}{{.Site.Author.name}}{{ else }}{{.Site.Title}}{{ end }}</a></li>
                                <li>原文链接：<a href="{{ .Permalink}}">{{ .Permalink}}</a></li>
                                <li>本作品采用<a rel="license" href="{{.Site.Params.cc.link}}">{{.Site.Params.cc.name}}</a>进行许可。</li>
                                <li>非商业转载请注明出处（作者，原文链接），商业转载请联系作者获得授权。</li>
                            </ul>
                        </div>
                        {{ end }}

                        {{ partial "related" . }}

                        <div class="post-meta meta-tags">
                            {{ if and (isset .Params "tags") .Params.tags }}
                            <ul class="clearfix">
                                {{ range .Params.Tags }}
                                <li><a href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                                {{ end }}
                            </ul>
                            {{ else }}
                            没有标签
                            {{ end }}
                        </div>
                    </article>
                    {{ partial "comments" . }}
                </div>
            </div>
            {{ partial "sidebar" . }}
        </div>
    </div>
</div>
{{ partial "footer" . }}
</body>
</html>
