{{- $width := default 400 (.Get "width") }}
{{- $height := default 300 (.Get "height") }}
{{- $fversion := default "7" (.Get "fversion") }}
{{- $movie := .Get "movie" }}
{{- if $movie -}}
<div id="flash-movie-{{ .Ordinal }}" class="jumbotron">
  <h3>您的浏览器不支持JavaScript，或者您禁用了JavaScript。</h3>
  <p>请启用浏览器的JavaScript支持。</p>
  <p>如果您确认启用了JavaScript，请使用下面的链接升级Flash Player到最新版本：</p>
  <p><a href="http://www.adobe.com/go/getflash/">安装最新的Flash Player插件</a></p>
</div>
<script>
var el = document.getElementById("flash-movie-{{ .Ordinal }}");
swfobject.embedSWF({{ $movie }}, el, {{ int $width }}, {{ int $height }}, {{ $fversion }});
</script>
{{ else }}
{{ errorf "missing value for param 'movie' in flash: %s" .Position}}
{{ end}}